@media screen and (max-width: 1200px) and (-webkit-min-device-pixel-ratio:0) {
    .board_wrap {
        width: 100%;
        min-width: 200px;
        padding: 0 5px;
        box-sizing: border-box;
    }

    .board_title strong {
        font-size: 2rem;
    }

    .board_list .num,
    .board_list .writer,
    .board_list .count {
        display: none;
    }

    .board_list .date {
        width: 40%;
    }

    .board_list .title {
        text-indent: 10px;
        font-size: 0.9rem;
    }

    .board_list .top .title {
        text-indent: 0;
        font-size: 0.9rem;
    }

    .board_list .top .date {
        font-size: 0.9rem;
    }

    .board_list .top .recommend {
        font-size: 0.9rem;
    }

    .board_page a {
        width: 26px;
        height: 26px;
    }

    .board_page a.bt {
        padding: 5px 4px;
    }

    .board_page a.num {
        padding-top: 6px;
    }

    .board_view .title {
        font-size: 1.4rem;
    }

    .board_view .info dl {
        width: 50%;
        padding: 0;
    }

    .board_view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    .board_view .info dl::before {
        display: none;
    }

    .board_view .info dl dt,
    .board_view .info dl dd {
        font-size: 0.8rem;
    }

    .board_write .info dl {
        width: 49%;
    }

    .board_write .info dl:first-child {
        margin-right: 2%;
    }

    .board_write .title dt,
    .board_write .info dt {
        display: none;
    }

    .board_write .title dd,
    .board_write .info dd {
        width: 100%;
    }

    .board_write .title input[type="text"],
    .board_write .info input[type="text"],
    .board_write .info input[type="password"] {
        width: 100%;
    }

    .custombutton {
        width: 10%;
        font-size: 0.8rem;
    }
}