/* 제가 재주가없어 css영역 마지막 단은 양쪽에 #### 을 붙히겠음 */
/* 보시는데 불편해도 양해바람 */

*{margin: 0;padding: 0;}

ul, li{list-style: none;}
/* initial : 상속받는 색깔을 그대로 따라가겠다입니다. */
a{text-decoration: none;color: initial;}

/* board_wrap : 게시판 가장 부모영역 가장외곽 영역*/
.board_wrap{
    width: 1000px;
    margin: 20px auto;
    margin-bottom: 100px;
    padding:80px 50px 50px 50px;
    text-align: center;
    font-family: GangwonEdu_OTFBoldA;
    background-color: #fff;
    /* background-color: aquamarine; */
}
/* ####  board_wrap : 게시판 가장 부모영역 가장외곽 영역 #### */

/* .board_title : 게시판 제목영역 */
.board_title{
    margin-bottom: 30px;
}

.board_title strong{
    /* 짤막상식 em과 rem 차이는 */
    /* rem은 최상위 태그(맨앞의 r이 root)에 곱한값 */
    /* 그말인 즉슨 최상위 태그의 값을 설정안하면 em을 한들 */
    /* rem을 한들 크기가 변하지 않음 */
    /* 최상위 태그는 html임 고로 html에 폰트사이즈를 주겠음 */
    font-size: 42px;
}

html{
    /* 폰트사이즈를 10으로 줫기때문에 3*10해서 30px이됨(바로위 strong값) */
    font-size: 16px;
    /* em은 뭐가다른가요?? 안알랴줌 */
    /* 근본원인은 */
    /* 시간없으면 1:00~1:20만 후딱보세요 */
    /* https://www.youtube.com/watch?v=xWMKz9NCD0k */
}

.board_title p{
    margin-top: 5px;
    font-size: 16px;
}
/* #### .board_title : 게시판 제목영역 #### */

/* board_list : 게시판 내용 */
.board_list{
    width: 100%;
    border-top: 2px solid #000 ;
}

.board_list > div{
    border-bottom:1px solid #ddd;

    /* 갑자기 font-size를 0으로 주었죠 */
    /* 상당히 어려운 부분일수도 있어요 */
    /* 아래서 각각의 칸들을 inlin-block으로 수평 배치를 할경우에 */
    /* 의도치않는 패딩 혹은 마진의 설정이 들어가는데 */
    /* 그런 경우를 부모요소한테 font-size 0 을 주게되면 */
    /* 의도치않는 요소들의 패딩과 마진을 잡아줍니다 */
    /* 해결법은 각각의 칸들의 font-size를 설정해주었습니다. */
    font-size: 0;
}

.board_list > div.top{
    border-bottom: 1px solid #999 ;
}

.board_list > div:last-child{
    border-bottom: 1px solid #000 ;
}

/* 각각의 칸 설정 */
.board_list > div > div{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    padding: 15px 0;
}

.board_list > div.top > div{
    font-weight: 600;
    font-size: 20px;
}

.board_list .num{
    width: 10%;
    font-size: 16px;
}
.board_list .title{
    width: 60%;
    text-align: left;
    font-size: 16px;
}

.board_list .title{text-align: center;}

.board_list .writer{
    width: 10%;
    font-size: 16px;
}
.board_list .date{
    width: 10%;
    font-size: 16px;
}
.board_list .count{
    width: 10%;
    font-size: 16px;
}

/* #### board_list : 게시판 내용 #### */


/* board_page : 게시글 버튼영역  */
.board_page{
    margin-top: 30px;
    text-align: center;

    /* 부모가 font-size0이다 감오쥬? */
    /* 자식 요소 수평배치할려고 하는거쥬? */
    font-size: 0;
}

.board_page a{
    display: inline-block;
    border: 1px solid #ddd;
    width: 32px;
    height: 32px;

    /* 요걸안주면 현재높이값보다 아래 설정맞추면서 준 */
    /* 패딩값땜에 삐뚤어짐 그래서 높이보다 */
    /* 패딩이 더 높으면 넘지마! 요런느낌 */
    box-sizing: border-box;

    /* 왼쪽겹쳐서 값안줘서 초기화 */
    border-left: 0;

    vertical-align: middle;
    line-height: 100%;
}

.board_page a.bt{
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num{
    padding-top: 10px;
    font-size: 1.4rem;
}

/*  a태그이면서 num에 클래스이면서 on에 클래스인 요론느낌 */
.board_page a.num.on{
    border-color: #000 ;
    background-color: #000;
    color: #fff;
}

.board_page a:first-child{
    /* 아까 왼쪽 죽여서 값줌 첫번째만 */
    border-left: 1px solid #ddd;
}


/* #### board_page : 게시글 버튼영역 #### */

/* bt_wrap : 목록 수정 영역*/
.bt_wrap{
    margin-top: 30px;
    text-align: center;
}

.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child{margin-left: 0;}


.bt_wrap a.on{
    background-color: #000;
    color: #fff;
}


/* ####   bt_wrap : 목록 수정 영역   #### */



/* 여기서 부터는 게시글 영역 */
/* .board_view : 게시글 보여지는 영역 */

.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    /* 원래는 값넣는 용도로쓰지만 */
    /* before쓸꺼면 필수태그 */
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}



.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}



/* #### .board_view : 게시글 보여지는 영역 #### */

/* .board_write : 게시글 작성영역 */

.board_write{
    border-top: 2px solid #000 ;
}

.board_write .title,
.board_write .info{
    padding: 15px;
}

.board_write .info{
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .cont{
    border-bottom: 1px solid #000;
}

.board_write .info dl{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
   
}



.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt{
    width: 100px;
}

/* 가로길이에 따라서 달라지게 함수사용 */
.board_write .title dd{
    width: calc(100% - 100px);
}

.board_write .title dl{
    font-size: 0;
} 

.board_write .title input[type="text"]{
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
 
}

.board_write .cont textarea{
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

/* #### .board_write : 게시글 작성영역 ##### */