<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매매 후기</title>
    <link rel="stylesheet" href="{% static 'css/review/css/css.css' %}">
</head>

<body>
{% include 'poll/sidebar.html' %}
{% include 'poll/header.html' %}
    <div class="board_wrap">

        <div class="board_list_wrap">

            <div class="category_wrap">
                <ul>
                    <li><a href="{% url 'review:review_main' %}">전체</a></li>
                    <li><a href="{% url 'review:review_jan' %}" >전/월세</a></li>
                    <li><a href="{% url 'review:review_mama' %}" class="active">매매</a></li>
                    <li><a href="{% url 'review:review_subscription' %}" >청약</a></li>
                </ul>
            </div>
            <div class="board_title_takes">
                <a href="{% url 'review:review_mama' %}">최신순</a>
                <a href="{% url 'review:review_mama_recommend' %}">추천순</a>
            </div>
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="count">조회</div>
                    <div class="count">추천수</div>
                    <div class="division">구분</div>
                </div>

                {% for question in question_list %}
                <div>
                    <div class="num">{{ question.id }}</div>
                    <div class="title"><a href="{% url 'review:review_detail' question.id %}">{{ question.r_title }}</a></div>
                    <div class="writer">{{ question.user }}</div>
                    <div class="date">{{ question.r_regdate|date:"y-m-d" }}</div>
                    <div class="count">{{ question.r_hit }}</div>
                    <div class="count">{{ question.r_recommend }}</div>
                    <div class="division">{{question.r_type}}</div>
                </div>
                {% endfor %}

            </div>

            <!-- 페이지 처리 영역 -->
            <ul class="board_page">
                <!-- 이전 페이지 -->
                {% if question_list.has_previous %}
                <li class="bt first">
                    <a class="bt prev" href="?page={{ question_list.previous_page_number }}">◀</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="bt prev">◁</a>
                </li>
                {% endif %}

                <!-- 현재 페이지 -->
                {% for page_number in question_list.paginator.page_range %}
                <!-- 현재 페이지와 리스트의 페이지가 일치하면 활성화함 -->
                {% if question_list.number == page_number %}
                <li class="page-item active">
                    <a class="num">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="num" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endfor %}

                <!-- 다음 페이지 -->
                {% if question_list.has_next %}
                <li class="page-item">
                    <a class="bt last" href="?page={{ question_list.next_page_number }}">▶</a>
                </li>
                {% else %}
                <!--이전 페이지가 없어도 적용됨-->
                <li class="page-item disabled">
                    <a class="bt last">▷</a>
                </li>
                {% endif %}
            </ul>
              <div class="bt_wrap">
            <!--로그인 안되면 로그인시 이용가능하게 설정 -->
            {% if user.is_authenticated %}

            <a href="{% url 'review:write' %}" class="on">등록</a>
            {% else %}
            <a href="{% url 'common:signin' %}" class="on">로그인시 이용가능</a>
            {% endif %}
            </div>

        </div>
    </div>
{% include 'poll/footer.html' %}
</body>

</html>