<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="{% static 'css/review/css/css.css' %}">

</head>

<body>
{% include 'poll/sidebar.html' %}
{% include 'poll/header.html' %}
<form method="post">
    {% csrf_token %}

    {% if form.errors %}

    {% for field in form %}
    {% if field.errors %}
    {{ field.label }}
    {{ field.errors }}
    {% endif %}
    {% endfor %}

    {% endif %}
    <div class="board_wrap">
        <div class="board_title">
            <h1>리뷰 등록</h1>

        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <input type="text" name="r_title" id="r_title"
                               value="{{ form.r_title.value|default_if_none:'' }}" placeholder="제목 입력" required>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>{{ free_board.user }}</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>{{ free_board.r_regdate|date:"y-m-d" }}</dd>
                    </dl>
                    <dl>
                        <dt>구분</dt>
                        <dd>
                            <select name="r_type" id="r_type">
                                <option value="전/월세">전/월세</option>
                                <option value="매매">매매</option>
                                <option value="청약">청약</option>
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="cont">
                    <label for="r_content"></label>
                    <textarea name="r_content" id="r_content" rows="10" placeholder="내용입력" required>{{form.r_content.value|default_if_none:''}}</textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <button type="submit" class="custom-submit-button" style="cursor: pointer;">등록</button>
                <a href="{% url 'review:review_main' %}">취소</a>
            </div>
        </div>
    </div>

</form>
{% include 'poll/footer.html' %}
</body>

</html>