<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/poll/style.css' %}">
    <title>index</title>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <script async src="{% static 'js/index_search.js' %}"></script>

</head>
<body>
    <section class="main_index">
        <section class="main_top_index">
            <div class="main_logo"></div>
            <a href="#"></a>
            <div class="main_login_register">
                <ul>
                    {% if user.is_authenticated %}
                    <li style="border-right: transparent;" class="logmy">
                        <a href="{% url 'common:signout' %}">로그아웃</a>
                        <a href="{% url 'common:mypage' %}" class="mypage_view">(마이)</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'common:signin' %}">로그인</a>
                    </li>
                    <li>
                        <a href="{% url 'common:signin' %}">회원가입</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <section class="main_middle_index">
                <div>
                    <p>어떤 집정보를 찾고 계신가요?</p>
                    <form action="{% url 'map:search' %}" method="get">
                        <ul>
                            <li>
                                <input type="text" name="search_data" list="map_search_list">
                                <datalist id="map_search_list"></datalist>
                            </li>
                            <li class="main_middle_search"><button type="submit"></button></li>
                        </ul>
                    </form>
                </div>
            </section>
            <section class="main_bottom_index">
                <div class="main_subscription">
                    <div>
                        <p>청약</p>
                        <p>청약 일정과<br>점수를 확인해보세요</p>
                    </div>
                    <div class="main_subscription_menu touchDiv">
                        <p>청약</p>
                        <div class="main_subscription_subMenu">
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <p><a href="{% url 'koreaCalendar:subCalendar' %}">청약 일정</a></p>
                            <p><a href="{% url 'calculate:calculate' %}">청약 점수 조회</a></p>
                        </div>
                    </div>
                    <div class="main_subscription_icon"></div>
                </div>
                <div class="main_notice">
                    <div>
                        <p>알려드려요</p>
                        <p>여러분이 놓친<br>부동산 정보 알아가세요</p>
                    </div>
                    <div class="main_notice_menu touchDiv">
                        <p>알려드려요</p>
                        <div class="main_notice_subMenu">
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <p><a href="{% url 'information:information' %}">알아두면 좋은 지식</a></p>
                        </div>
                    </div>
                    <div class="main_notice_icon"></div>
                </div>
                <div class="main_community">
                    <div>
                        <p>커뮤니티</p>
                        <p>자유롭게 생생하게<br>인테리어까지</p>
                    </div>
                    <div class="main_community_menu touchDiv">
                        <p>커뮤니티</p>
                        <div class="main_community_subMenu">
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <p><a href="{% url 'community:free' %}">자유 게시판</a></p>
                            <p><a href="{% url 'review:review_main' %}">거래후기 게시판</a></p>
                            <p><a href="{% url 'interior:interior' %}">인테리어 게시판</a></p>
                            <p><a href="{% url 'news:news' %}">뉴스 게시판</a></p>
                        </div>
                    </div>
                    <div class="main_community_icon"></div>
                </div>
                <div class="main_customer_service">
                    <div>
                        <p>고객서비스</p>
                        <p>안녕하세요<br>여러분의 집집입니다</p>
                    </div>
                    <div class="main_customer_service_menu touchDiv">
                        <p>고객서비스</p>
                        <div class="main_customer_service_subMenu">
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <p><a href="{% url 'notice:notice' %}">공지사항</a></p>
                            <p><a href="{% url 'introduction:introduction' %}">소개</a></p>
                        </div>
                    </div>
                    <div class="main_customer_service_icon"></div>
                </div>
            </section>

            <section class="slide_container">
                <!-- css 설정은 바텀 card_list 시작 으로 메모했습니다 -->
                <!-- 성호형님꺼 스타일이 조금 빡셋네요 섹션main_index안에  -->
                <!-- main_top_index 안에 4개 요소를 쌓듯이 정렬해서 맞춰봣습니다 -->
                <!-- cardlist가 li형태라서 맞춰봤어요 혹시 깨지면 말씀해주세요! -->

                <div class="slide_wrapper">
                    <ul class="slides">

                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior1.jpg" alt="인테리어1">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior2.jpg" alt="인테리어2">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior3.jpg" alt="인테리어3">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior4.jpg" alt="인테리어4">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior5.jpeg" alt="인테리어5">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior6.jpg" alt="인테리어6">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior7.jpg" alt="인테리어7">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior8.jpg" alt="인테리어8">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'interior:interior' %}">
                                <img src="../../static/css/interior/images/interior9.png" alt="인테리어9">
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="controls">
                    <span class="prev"><<</span>
                    <span class="next">>></span>
                </p>
            </section>
        </section>
    </section>
    <script>
        $(document).ready(function() {
            let slides = $('.slides');
            let slide = $('.slides li');
            let currentIdx = 0;
            let slideCount = slide.length;
            let preBtn = $('.prev');
            let slideWidth = 300; /* 사진 길이 */
            let slideMargin = 30;
            let nextBtn = $('.next');
            let timer;

            slides.css('width', (slideWidth + slideMargin) * slideCount - slideMargin + 'px');

            function moveSlide(num) {
                slides.css('left', -num * (slideWidth + slideMargin) + 'px');
                currentIdx = num;
            }

            nextBtn.on('click', function() {
                if (currentIdx < slideCount - 3) {
                    moveSlide(currentIdx + 1);
                } else {
                    moveSlide(0);
                }
            });

            preBtn.on('click', function() {
                if (currentIdx > 0) {
                    moveSlide(currentIdx - 1);
                } else {
                    moveSlide(slideCount - 3);
                }
            });

            function startAutoSlide() {
                timer = setInterval(function() {
                    if (currentIdx < slideCount - 3) {
                        moveSlide(currentIdx + 1);
                    } else {
                        moveSlide(0);
                    }
                }, 3000); /* 넘기는 밀리세턴드 */
            }

            function stopAutoSlide() {
                clearInterval(timer);
            }

            startAutoSlide();

            const targetDiv = document.querySelectorAll('.touchDiv');
            let touchStartTime;

            for (let i = 0; i < targetDiv.length; i++) {
                targetDiv[i].addEventListener('touchstart', function(event) {
                    touchStartTime = new Date().getTime();
                });

                targetDiv[i].addEventListener('touchend', function(event) {
                    const touchEndTime = new Date().getTime();
                    const touchDuration = touchEndTime - touchStartTime;

                    if (touchDuration < 500) { // 500ms (0.5초) 이내에 뗀 경우에만 작동
                        if (targetDiv[i].classList.contains('active')) {
                            targetDiv[i].classList.remove('active');
                        } else {
                            targetDiv[i].classList.add('active');
                        }
                    }
                });
            }
        });
      </script>
{% include 'poll/footer.html' %}
</body>

</html>