<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/news/style.css' %}">
</head>

<body>
{% include 'poll/sidebar.html' %}
{% include 'poll/header.html' %}
    <div class="list_wrap">
        <p>NEWS</p>
        <ul>
            <li class="item item1">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>부동산 침체에… 2022년 귀농·귀촌 인구 3년 만에 감소</strong>
                    <p>33만2000여가구… 전년比 12% ↓
                        인구이동 급감 탓… 평균연령 43.4세</p>
                    <a href="https://www.segye.com/newsView/20230622520473?OutUrl=naver" target="_blank">바로가기</a>
                </div>
            </li>
            <li class="item item2">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>"올 하반기 아파트값 오른다"…부동산 고수들이 찜한 동네</strong>
                    <p>"내 집 마련 적기는 하반기"
                        40% 3분기, 17% 4분기 꼽아
                        "하반기 집값 오를 것" 48%</p>
                    <a href="https://www.hankyung.com/realestate/article/2023062280661" target="_blank">바로가기</a>
                </div>
            </li>
            <li class="item item3">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>“벌써 시장 회복세?”… 오피스 부동산 거래 늘어난 이유는</strong>
                    <p>거래량·거래금액 늘었지만 회복세는 ‘글쎄’
                        대형 딜 클로징으로 거래 한꺼번에 발생
                        “경쟁력 있는 물건으로 쏠림 현상”</p>
                    <a href="https://biz.chosun.com/real_estate/real_estate_general/2023/06/23/A2PZVDAKH5EXNC4L2NVSIQBFN4/" target="_blank">바로가기</a>
                </div>
            </li>
            <li class="item item4">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>부동산까지 발 뻗은 야놀자·당근마켓…사업 다각화 잰걸음</strong>
                    <p>숙박 예약 플랫폼 야놀자와 지역 기반 중고거래 앱 당근마켓이 부동산 영역으로 세를 넓히고 있다.</p>
                    <a href="https://it.chosun.com/site/data/html_dir/2023/06/22/2023062202257.html" target="_blank">바로가기</a>
                </div>
            </li>
            <li class="item item5">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>부동산 시장, 대출로 연명치료…"빚 내서 집 사면 큰일나요"[부릿지]</strong>
                    <p>지난해 말부터 올해 초까지 주택 가격의 급락에 따라 최근 일부 지역의 반등 거래가 포착됐다.</p>
                    <a href="https://news.mt.co.kr/mtview.php?no=2023062210463548703" target="_blank">바로가기</a>
                </div>
            </li>
            <li class="item item6">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>[주간부동산시황] 서울 아파트값 0.01%↓, "전주와 동일"</strong>
                    <p>강남 매매·전세가격 동반 상승</p>
                    <a href="https://www.dailian.co.kr/news/view/1246568/?sc=Naver" target="_blank">바로가기</a>
                </div>
            </li>
            <li class="item item7">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>'부동산+첨단기술' 프롭테크 부산에서 선보인다</strong>
                    <p>부동산과 첨단 기술의 결합 트렌드인 ‘프롭테크(Proptech)’가 부산에서도 선보인다.</p>
                    <a href="http://www.kookje.co.kr/news2011/asp/newsbody.asp?code=0200&key=20230622.99099007044" target="_blank">바로가기</a>
                </div>
            </li>
            <li class="item item8">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>세종대 부동산자산관리학과, 부동산 컨퍼런스 24일 개최</strong>
                    <p>'한국의 부동산, 무엇이 중요한가?' 주제로 컨퍼런스 개최</p>
                    <a href="https://newsis.com/view/?id=NISX20230623_0002350230&cID=10201&pID=10200" target="_blank">바로가기</a>
                </div>
            </li>
            <li class="item item9">
                <div class="image">사진</div>
                <div class="cont">
                    <strong>(2023 부동산포럼)"10월 서울 집값 변곡점 온다"</strong>
                    <p>"전셋값 턴하면 매맷값 밀어올려…강남 예의주시"
                        "금리 오르며 자기자본비율 확대 경향"
                        "무주택자, 정책 활용해 '내 집 마련' 좋은 기회"
                        </p>
                    <a href="http://www.newstomato.com/ReadNews.aspx?no=1191801&inflow=D" target="_blank">바로가기</a>
                </div>
            </li>
        </ul>
    </div>
{% include 'poll/footer.html' %}
</body>

</html>