*{margin: 0;padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}

.list_wrap{
    width: 1000px;
    margin: 20px auto;
    margin-bottom: 100px
    padding: 50px;
    background: white;
}
.list_wrap > p {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding: 80px 50px 50px 50px;
    border-bottom: 1px solid #ccc
}

.list_wrap ul{
    font-size: 0;
    padding: 50px;
    margin-bottom: 100px;
}
.list_wrap .item{
    display: inline-block;
    width: 30%;
    margin-top: 40px;
    margin-left: 5%;
    /* x y 투명정도 색깔 */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.list_wrap .item:nth-child(-n+3){
    /* 123번의 요소만 안줄려는 조건 */
    margin-top: 0;
}
.list_wrap .item:nth-child(3n-2){
    margin-left: 0;

}
/* item itemn으로 이름을 줬기때문에 클래스명이 (item 다른거) 여도  */
/* (item) 이붙은친구들은 다 여기 들어옴 */
.list_wrap .item .image{
    width: 100%;
    height: 200px;
    background-color: #ddd;

}

.list_wrap .item1 .image{
    background: url(./images/article1.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item2 .image{
    background: url(./images/article2.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item3 .image{
    background: url(./images/article3.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item4 .image{
    background: url(./images/article4.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item5 .image{
    background: url(./images/article5.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item6 .image{
    background: url(./images/article6.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item7 .image{
    background: url(./images/article7.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item8 .image{
    background: url(./images/article8.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.list_wrap .item9 .image{
    background: url(./images/article9.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}


.list_wrap .item strong{
    /* strong은 inline요소라 margine이 적용안됨 그래서 바꿈 */
    display: block;
    margin: 0px 0 10px 0;
    font-size: 20px;
    letter-spacing: -1px;
}
.list_wrap .item p{
    font-size: 15px;
    letter-spacing: -1px;
}
.list_wrap .item a{
    display: inline-block;
    margin-top: 10px;
    background: #eee;
    padding: 5px 10px;
    font-size: 15px;
    letter-spacing: -1px;
    /* transition: 대상 시간 방식 */
    transition: all 1s ease;
}

.list_wrap .item a:hover{
    background: #325cb2;
    color: #fff;

}
.list_wrap .item .cont{
    padding: 15px;
}
/* 반응형 끝 - 태블릿 */

@media (max-width: 1037px) {
    .list_wrap{
        width: 600px;
        margin-bottom: 100px
        padding: 0;
        background: white;
    }
    .list_wrap > p {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        font-size: 21px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
    }

    .list_wrap ul{
        font-size: 0;
        padding: 0;
        margin-bottom: 100px;
    }
    .list_wrap .item{
        display: block;
        width: 75%;
        margin-top: 40px;
        margin-left: 15%;
        /* x y 투명정도 색깔 */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    .list_wrap .item:nth-child(-n+3){
        /* 123번의 요소만 안줄려는 조건 */
        margin-top: 40px;
    }
    .list_wrap .item:nth-child(3n-2){
        margin-left: 15%;

    }
    /* item itemn으로 이름을 줬기때문에 클래스명이 (item 다른거) 여도  */
    /* (item) 이붙은친구들은 다 여기 들어옴 */
    .list_wrap .item .image{
        width: 100%;
        height: 400px;
        background-color: #ddd;

    }

    .list_wrap .item1 .image{
        background: url(./images/article1.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item2 .image{
        background: url(./images/article2.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item3 .image{
        background: url(./images/article3.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item4 .image{
        background: url(./images/article4.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item5 .image{
        background: url(./images/article5.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item6 .image{
        background: url(./images/article6.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item7 .image{
        background: url(./images/article7.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item8 .image{
        background: url(./images/article8.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item9 .image{
        background: url(./images/article9.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }


    .list_wrap .item strong{
        /* strong은 inline요소라 margine이 적용안됨 그래서 바꿈 */
        display: block;
        margin: 0px 0 10px 0;
        font-size: 20px;
        letter-spacing: -1px;
    }
    .list_wrap .item p{
        font-size: 15px;
        letter-spacing: -1px;
    }
    .list_wrap .item a{
        display: inline-block;
        margin-top: 10px;
        background: #eee;
        padding: 5px 10px;
        font-size: 15px;
        letter-spacing: -1px;
        /* transition: 대상 시간 방식 */
        transition: all 1s ease;
    }

    .list_wrap .item a:hover{
        background: #325cb2;
        color: #fff;

    }
    .list_wrap .item .cont{
        padding: 15px;
    }

}

/* 반응형 끝 - 태블릿 */

/* 반응형 시작 - 모바일 */
@media (max-width: 600px) {
    .list_wrap{
        width: 370px;
        margin-bottom: 100px
        padding: 0;
        background: white;
    }
    .list_wrap > p {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        font-size: 21px;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
    }

    .list_wrap ul{
        font-size: 0;
        padding: 0;
        margin-bottom: 100px;
    }
    .list_wrap .item{
        display: block;
        width: 90%;
        margin-top: 40px;
        margin-left: 5%;
        /* x y 투명정도 색깔 */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    .list_wrap .item:nth-child(-n+3){
        /* 123번의 요소만 안줄려는 조건 */
        margin-top: 40px;
    }
    .list_wrap .item:nth-child(3n-2){
        margin-left: 5%;

    }
    /* item itemn으로 이름을 줬기때문에 클래스명이 (item 다른거) 여도  */
    /* (item) 이붙은친구들은 다 여기 들어옴 */
    .list_wrap .item .image{
        width: 100%;
        height: 200px;
        background-color: #ddd;

    }

    .list_wrap .item1 .image{
        background: url(./images/article1.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item2 .image{
        background: url(./images/article2.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item3 .image{
        background: url(./images/article3.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item4 .image{
        background: url(./images/article4.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item5 .image{
        background: url(./images/article5.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item6 .image{
        background: url(./images/article6.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item7 .image{
        background: url(./images/article7.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item8 .image{
        background: url(./images/article8.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    .list_wrap .item9 .image{
        background: url(./images/article9.png) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }


    .list_wrap .item strong{
        /* strong은 inline요소라 margine이 적용안됨 그래서 바꿈 */
        display: block;
        margin: 0px 0 10px 0;
        font-size: 20px;
        letter-spacing: -1px;
    }
    .list_wrap .item p{
        font-size: 15px;
        letter-spacing: -1px;
    }
    .list_wrap .item a{
        display: inline-block;
        margin-top: 10px;
        background: #eee;
        padding: 5px 10px;
        font-size: 15px;
        letter-spacing: -1px;
        /* transition: 대상 시간 방식 */
        transition: all 1s ease;
    }

    .list_wrap .item a:hover{
        background: #325cb2;
        color: #fff;

    }
    .list_wrap .item .cont{
        padding: 15px;
    }

}
/* 반응형 끝 - 모바일 */