<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>출처</title>
</head>
<body>
    <h2>출처</h2>
    <h3>---아이콘 및 이미지 출처---</h3>
    <p>https://kor.pngtree.com/?source_id=91&chnl=ggas&srid=1073998528&gpid=61780073161&asid=336881932457&ntwk=g&tgkw=kwd-370923846652&mchk=pngtree&mcht=b&pylc=1009853&dvic=c&gclid=Cj0KCQjwnf-kBhCnARIsAFlg490vslcSO0UeCW7OJi-jVgv-hWG7xxP66nSHa-QHjCv50-rk41AO9iMaAlySEALw_wcB - pngtree(사람이미지/아이콘)</p>
    <p>https://www.shutterstock.com/ko/images - 셔터스톡</p>
    <p>https://cafe.naver.com/gagupresident/161198?art=ZXh0ZXJuYWwtc2VydmljZS1uYXZlci1zZWFyY2gtY2FmZS1wcg.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYWZlVHlwZSI6IkNBRkVfVVJMIiwiY2FmZVVybCI6ImdhZ3VwcmVzaWRlbnQiLCJhcnRpY2xlSWQiOjE2MTE5OCwiaXNzdWVkQXQiOjE2ODc1MjY0MTI3NzJ9.Y992u2o0QRbC-lVxQUxwCG5RrlqWr804jrwRi_34FhQ - 인테리어 이미지</p>
    <p>구글 이미지 검색</p>
    <p>구글 아이콘 이미지</p>
    <p>네이버 아이콘 이미지</p>
    <p>카카오 아이콘 이미지</p>

    <h3>---인테리어 출처---</h3>
    <p>https://blog.naver.com/95448887/220541737397 - 인테리어 이미지</p>
    <p>https://blog.naver.com/dpffltldk09/133814170 - 인테리어 이미지</p>
    <p>https://ohou.se/cards/12082413 - 인테리어 이미지</p>
    <p>https://ohou.se/cards/10155726 - 인테리어 이미지</p>
    <p>https://ohou.se/advices/2383 - 인테리어 이미지</p>
    <p>https://blog.naver.com/soyo_hi/220737255828 - 인테리어 이미지</p>
    <p>https://blog.naver.com/ywyw9753/80186579477 - 인테리어 이미지</p>
    <p>https://blog.naver.com/doojin_ekwn/222811140279 - 인테리어 이미지</p>

    <h3>---뉴스 출처---</h3>
    <p>https://www.segye.com/newsView/20230622520473?OutUrl=naver</p>
    <p>https://www.hankyung.com/realestate/article/2023062280661</p>
    <p>https://biz.chosun.com/real_estate/real_estate_general/2023/06/23/A2PZVDAKH5EXNC4L2NVSIQBFN4/</p>
    <p>https://it.chosun.com/site/data/html_dir/2023/06/22/2023062202257.html</p>
    <p>https://news.mt.co.kr/mtview.php?no=2023062210463548703</p>
    <p>https://www.dailian.co.kr/news/view/1246568/?sc=Naver</p>
    <p>http://www.kookje.co.kr/news2011/asp/newsbody.asp?code=0200&key=20230622.99099007044</p>
    <p>https://newsis.com/view/?id=NISX20230623_0002350230&cID=10201&pID=10200</p>
    <p>http://www.newstomato.com/ReadNews.aspx?no=1191801&inflow=D</p>

    <h3>---기타 출처---</h3>
    <p>https://www.applyhome.co.kr/co/coa/selectMainView.do - 청약홈</p>
    <p>https://www.myhome.go.kr/hws/portal/main/getMgtMainPage.do - 마이홈</p>
    <p>https://land.naver.com/ - 네이버 부동산</p>
    <p>https://www.data.go.kr/ - 공공데이터포털 API</p>
    <p>https://www.vworld.kr/dev/v4api.do - vworld오픈 API</p>

</body>
</html>