@charset 'utf-8';
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 전체 */
* {margin: 0; padding: 0;}

/* 회원가입 */
#signup {text-align: center;}

body {
    -webkit-overflow: hidden;
    overflow: hidden;
    font-family: 'GangwonEdu_OTFBoldA';
}

/* 전체 스타일 */
.signinup-box {
    width: 55%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    -webkit-box-shadow: 8px 8px 12px #d1d9e6, -8px -8px 12px white;
    box-shadow: 8px 8px 12px #d1d9e6, -8px -8px 12px white;
    z-index: 11;
}

/* 로그인 스타일*/
/* 전체 */
.login_container {
    /*margin-top: 100px;*/
    /* max-width: 450px;*/
    width: 59.3%;
    height: 100%;
    text-align: center;
    /*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    /*background: url(../../images/common/login_배경.jpg) no-repeat;
    background-size:  cover;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid #eee;
}

.login_signin_container {
    width: 39.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1d4f50;
    text-align: center;
    line-height: 1.6;
    letter-spacing: .25px;
    font-size: 1.2rem;
    /*box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);*/
    -webkit-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid #333;
    color: white;
}

.login_signin_container > h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

.signinup_button {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    margin-top: 50px;
    padding-top: 5px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    line-height: 6px;
    background-color: #f8b62c;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    font-family: 'GangwonEdu_OTFBoldA';
}

.signup_but {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 5px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    line-height: 6px;
    background-color: #f8b62c;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    font-family: 'GangwonEdu_OTFBoldA';
}

.signinup_button:hover,
.signup_but:hover {
    text-decoration: underline;
}

/* LOGIN */
.login_container > h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.login_container > form {
    width: 70%;
}

.login_container > form > div > input {
    width: 100%;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    padding-top: 8px;
    font-size: 16px;
    letter-spacing: .15px;
    border: 1px solid #aaa;
    outline: none;
    background-color: white;
    transition: .25s ease;
    border-radius: 8px;
    -webkit-box-shadow: inset 2px 2px 4px #ccc, inset -2px -2px 4px white;
    box-shadow: inset 2px 2px 4px #ccc, inset -2px -2px 4px white;
    font-family: 'GangwonEdu_OTFBoldA';
}

.login_container > form > div > input:focus {
    -webkit-box-shadow: inset 4px 4px 4px gray, inset -4px -4px 4px white;
    box-shadow: inset 4px 4px 4px gray, inset -4px -4px 4px white;
}

/* 소셜로그인 이미지 */
.login_logo_container {
    width: 50%;
    height: 10%;
    margin-bottom: 10px;
}

.login_logo_container > a:first-of-type > img{
    width: 50px;
    height: 40px;
}

.login_logo_container > a:nth-of-type(2) > .social_image {
    width: 38px;
    height: 37px;
    margin-right: 8px;
    padding-top: 0.5px;
    margin-bottom: 1.7px;
}

.login_logo_container > a:last-of-type > .social_image {
    width: 36px;
    height: 38px;
    margin-right: 8px;
    margin-bottom: 0.5px;
}

/* 로그인 페이지의 회원가입 박스 */
.signinup-box2 {
    width: 55%;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 120%;
    display: flex;
    flex-wrap: wrap;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 8px 8px 12px #d1d9e6, -8px -8px 12px white;
    box-shadow: 8px 8px 12px #d1d9e6, -8px -8px 12px white;
    border-radius: 12px;
    opacity: 0;
}

.login_signup_container {
    width: 39.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1d4f50;
    text-align: center;
    line-height: 1.6;
    letter-spacing: .25px;
    font-size: 1.2rem;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    z-index: 99;
    color: white;
    border: 1px solid #333;
}

.signinup-box2 > div {
    width: 59.3%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    border: none;
    border: 1px solid #eee;
}

/* 회원가입 스타일 전체 */
.signup {
    width: 60%;
    height: 80%;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.signup > form {
    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.signup > form > div {
    width: 88%;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 5px 0;
}

.signup > form > div > label > input[type='radio'] {
    margin-right: 10px;
}

.signup > form > div > .radio {
    width: 50%;
    text-align: center;
}

.signup > form > div:first-of-type > label > input {
    margin-right: 10px;
    height: 12px;
}

.signup > form > div > label {
    width: 25%;
    text-align: left;
    margin-top: 7px;
    font-size: 16px;
}

.signup > form > div > input {
    width: 70%;
    height: 15px;
    padding: 8px 15px;
    font-size: 16px;
    letter-spacing: .15px;
    border: 1px solid #aaa;
    outline: none;
    background-color: white;
    transition: .25s ease;
    border-radius: 8px;
    -webkit-box-shadow: inset 2px 2px 4px #ccc, inset -2px -2px 4px white;
    box-shadow: inset 2px 2px 4px #ccc, inset -2px -2px 4px white;
    font-family: 'GangwonEdu_OTFBoldA';
}

.signup > form > div > input:focus {
    -webkit-box-shadow: inset 4px 4px 4px gray, inset -4px -4px 4px white;
    box-shadow: inset 4px 4px 4px gray, inset -4px -4px 4px white;
}

.signup > form > .business-license-field {
    width: 88%;
    justify-content: center;
    flex: 1;
}

.signup > form > .business-license-field > input {
    width: 70%;
    height: 26px;
    font-size: 16px;
    padding: 3px 15px;
    border: 1px solid #aaa;
    font-family: 'GangwonEdu_OTFBoldA';
}

.signup > form > .business-license-field > input[type='hidden'] {
    display: none;
}

.signup > form > .business-license-field > label {
    width: 25%;
    text-align: left;
    margin-top: 7px;
    font-size: 16px;
}

section > form > .error_data {
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: -15%;
}

@media screen and (max-width: 1200px) {
    .signinup-box {
        width: 85%;
    }

    .signinup-box2 {
        width: 85%;
    }
}

@media screen and (max-width: 1050px) {
    .signinup-box {
        width: 97%;
    }

    .signinup-box2 {
        width: 97%;
    }

    .login_signin_container, .login_signup_container {
        font-size: 1rem;
    }

    .signinup_button {
        font-size: 12px;
    }

    .signup_but {
        font-size: 12px;
    }

    .login_container > h1 {
        font-size: 1.4rem;
    }

    .login_container > form > div > input, .signup > form > div > label,
    .signup > form > div > input, .signup > form > .business-license-field > input,
    .signup > form > .business-license-field > label {
        font-size: 12px;
    }

    section > form > .error_data {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 768px) {
    .login_container > h1 {
        font-size: 1.2rem;
    }

    .login_signin_container, .login_signup_container {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 568px) {
    .login_logo_container {
        width: 100%;
    }

    .login_container > form {
        width: 85%;
    }

    .login_container > form > div > input {
        padding-left: 8px;
    }

    .signinup_button {
        width: 120px;
    }

    .signup_but {
        width: 120px;
    }

    .login_signin_container, .login_signup_container {
        font-size: 0.7rem;
    }

    .signup > form > div > label,
    .signup > form > .business-license-field > label {
        width: 35%;
        padding-left: 5px;
    }

    .signup > form > div > input {
        padding: 4px 7.5px;
        margin-right: 5px;
    }

    .signup > form > .business-license-field > input {
        padding: 2px 7.5px;
        margin-right: 5px;
    }

    .signup > form > div,
    .signup > form > .business-license-field {
        width: 100%;
    }

}