<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/information/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="information_box">
        <ol>
            <li class="on">
                <h4> 주택유형</h4>
                <p>
                    주택이란 가구가 독립적으로 살림을 할 수 있도록 지어진 집으로 다음의 세 가지 요건을 충족하는 것을 말합니다.<br> 
                    첫째, 영구 또는 준영구 건물 <br>
                    둘째, 부엌과 한 개 이상의 방을 갖추고 있음 <br>
                    셋째, 다른 가구의 주거부분을 통하지 않는 독립된 출입구를 갖춤 </p>

                    <p>아파트 : 한 건물내에 여러 가구가 거주할 수 있도록 건축된 5층 이상 영구건물로서
                                구조적으로 한 가구씩 독립하여 살 수 있도록 건축된 공동주택</p>
                    <p>연립주택 :  한 건물 내에 여러 가구가 살 수 있도록 건축된 4층 이하의 공동주택으로서 건축 당시
                                '연립주택'으로 허가받은 주택
                                동당 건물 연면적이 660㎡(200평)을 초과하는 경우</p>
                    <p>다세대 주택 : 한 건물 내에 여러 가구가 살 수 있도록 건축된 4층 이하의 공동주택으로 건축 당시
                                    다세대주택으로 허가 받은 주택
                                    동당 건물 연면적이 660㎡(200평) 이하인 경우</p>
                    <p>단독 주택 : 통상 한 가구가 생활할 수 있도록 건축된 주택
                                   세든 가구가 있더라도 방, 부엌, 독립된 출입구, 화장실이 별도로 모두 갖추어져
                                   있지 않으면, 그 집은 일반 단독주택에 해당</p>
                    <p>다가구 주택 : 여러 가구가 살 수 있도록 설계된 주택
                                    각 구획마다 방, 부엌, 출입구, 화장실이 갖추어져 한 가구씩 독립하여
                                    생활할 수 있으나, 각 구획을 분리하여 소유하거나
                                    매매(분양)하기가 불가능한 주택
                                    전체 층이 3층 이하이고, 수도계량기가 1개임. 전체층(각 층)의 바닥 면적의
                                    합(연면적)이 660㎡(200평)이하인 경우</p>
                    <p>오피스텔 : 건축법상 업무시설로 분류되고 주거와 사무공간을 겸용으로 쓸 수 있는 건축물로서
                                2010년에 준주택으로 분류되어 주택은 아니지만 주택의 용도로 활용 가능.
                                오피스텔과 도시형 생활주택은 개별 등기 가능.</p>
            </li>
        </ol>
    </div>
    <script>
        // 토글버전
        $(function () {
            $(".information_box ol li").click(function () {
                // 클릭한 대상에게 클래스 "on"을 추가 또는 제거하여 확장 및 축소
                $(this).toggleClass("on");

            });
        });


    </script>

</body>

</html>