<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/information/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="information_box">
        <ol>
            <li class="on">
                <h4><span>Q1</span> 위원회 안내</h4>
                <p>
                    <소개> <br> 
                    주택임대차분쟁조정위원회는 주택임대차보호법의 적용을 받는 주택임대차와 관련된 당사자 간의 분쟁을 합리적으로 조정하기 위하여
                    대한법률구조공단의 6개 지부 (서울중앙, 수원, 대전, 대구, 부산, 광주)와 LH 3개소(인천, 청주, 창원) 한국부동산원 3개소(서울, 전주, 춘천)에
                    설치되어있습니다.<br>

                    <법률구조공단><br>
                    ※ 서울중앙지부 : 2017년 5월 30일 개소 <br>
                    ※ 수원·대전·대구·부산지부 : 2017년 7월 3일 개소 <br>
                    ※ 광주지부 : 2017년 7월 4일 개소 <br>

                    <LH·한국부동산원> <br>
                    ※ 서울·인천·청주·창원·전주·춘천 : 2020년 11월 5일 개소<br>
                    이용대상자<br>
                    주택임대차분쟁의 당사자인 임대인 또는 임차인은 대한법률구조공단 주택임대차분쟁조정위원회에 분쟁의 조정을 신청할 수 있습니다.<br>
                </p>
            </li>
            <li>
                <h4><span>Q2</span> 조정위원회</h4>
                <p>
                    <구성><br>
                    조정위원회는 위원장 1명을 포함하여 5명 이상 30명 이하의 위원으로 구성되며, 위원은 공단 이사장, 공사 사장, 부동산원 원장 또는
                    조정위원회를 둔 지방자치단체의 장이 임명 또는 위촉합니다.<br>
                    위원장은 판사·검사 또는 변호사로 6년 이상 재직한 위원 중에서 위원들이 호선합니다.<br>

                    <심의·조정 사항><br>
                    조정위원회가 심의·조정하는 사항은 다음과 같습니다(「주택임대차보호법」제14조 제2항, 같은 법 시행령 제22조).<br>
                    ① 차임 또는 보증금의 증감에 관한 분쟁<br>
                    ② 임대차 기간에 관한 분쟁<br>
                    ③ 보증금 또는 임차주택의 반환에 관한 분쟁<br>
                    ④ 임차주택의 유지·수선 의무에 관한 분쟁<br>
                    ⑤ 임대차계약의 이행 및 임대차계약 내용의 해석에 관한 분쟁<br>
                    ⑥ 임대차계약 갱신 및 종료에 관한 분쟁<br>
                    ⑦ 임대차계약의 불이행 등에 따른 손해배상청구에 관한 분쟁<br>
                    ⑧ 공인중개사 보수 등 비용부담에 관한 분쟁<br>
                    ⑨ 주택임대차표준계약서 사용에 관한 분쟁<br>
                    ⑩ 그 밖에 주택임대차에 관한 분쟁으로서 조정위원회의 위원장이 조정이 필요하다고 인정하는 분쟁<br>
                    
                    <조정부><br>
                    조정위원회는 분쟁의 효율적 해결을 위하여 3명의 조정위원으로 구성된 조정부를 둘 수 있습니다.<br>
                    (심의·조정 사항)<br>
                    조정부는 다음 각 호의 사항을 심의·조정합니다.(같은 조 제3항, 같은 법 시행령 제28조)<br>
                    ① 임대차계약의 보증금이 「수도권정비계획법」 제2조제1호에 따른 수도권 지역은 5억원 이하, 그 이외의 지역은 3억원 이하인 분쟁<br>
                    ② 조정목적의 값이 2억원 이하인 분쟁(조정목적의 값은 「민사소송 등 인지법」의 소송목적의 값에 대한 산정 방식에 따른다)<br>
                    ③ 조정위원회가 사건을 특정하여 조정부에 심의ㆍ조정을 위임한 분쟁<br>
                </p>
            </li>
            <li>
                <h4><span>Q3</span> 비용</h4>
                <p>
                   <수수료><br>
                   「주택임대차보호법」제21조 제1항에 따라 조정을 신청하시는 경우 다음의 표에서 정하는 수수료를 내야 합니다.<br>
                    (같은 법 시행령 제33조제1항)<br>
                    <img class="money" src="{% static 'css/information/images/수수료.png' %}" alt="주택임대차보호 수수료"><br>
                    
                    <수수료 면제 가능자><br>
                    신청인이 다음 각 호의 어느 하나에 해당하는 경우에는 수수료를 면제할 수 있습니다.<br>
                    (「주택임대차보호법 시행령」 제33조 제2항 )<br>
                    ① 주택임대차보호법 제8조에 따라 우선변제를 받을 수 있는 임차인<br>
                    ② 국민기초생활 보장법」 제2조 제2호 따른 수급자<br>
                    ③「독립유공자예우에 관한 법률」 제6조에 따라 등록된 독립유공자 또는 그 유족(선순위자 1명만 해당, 이하 이 조에서 같음)<br>
                    ④「국가유공자 등 예우 및 지원에 관한 법률」 제6조에 따라 등록된 국가유공자 또는 그 유족<br>
                    ⑤「고엽제후유의증 환자지원 등에 관한 법률」 제4조에 따라 등록된 고엽제후유증환자, 고엽제후유의증환자 또는 고엽제후유증 2세환자<br>
                    ⑥「참전유공자예우 및 단체설립에 관한 법률」 제5조에 따라 등록된 참전유공자<br>
                    ⑦「5ㆍ18민주유공자예우에 관한 법률」 제7조에 따라 등록 결정된 5ㆍ18민주유공자 또는 그 유족<br>
                    ⑧「특수임무수행자 지원 및 단체설립에 관한 법률」 제6조에 따라 등록된 특수임무수행자 또는 그 유족<br>
                    ⑨「의사상자 등 예우 및 지원에 관한 법률」 제5조에 따라 인정된 의상자 또는 의사자유족<br>
                    ⑩「한부모가족지원법」 제5조에 따른 지원대상자<br>
                    ⑪그 밖에 제1호부터 제10호까지의 규정에 준하는 사람으로서 법무부장관과 국토교통부장관이 공동으로 정하여 고시하는 사람 또는
                    시·도 조례로 정하는 사람<br> 
                    
                    <수수료 환급><br>
                    신청인은 다음 각 호의 어느 하나에 해당하는 경우에는 수수료의 환급을 청구할 수 있습니다.<br>
                    (「주택임대차보호법 시행령」제33조 제3항 )<br>
                    ① 주택임대차보호법 제21조 제3항 제1호 및 제2호에 따라 조정신청이 각하된 경우<br>
                    (다만, 조정신청 있은 후 신청인이 법원에 소를 제기하거나 「민사조정법」에 따른 조정을 신청한 경우는 제외)<br>
                    ② 주택임대차보호법 제21조 제3항 제3호 및 제5호에 따라 조정신청이 각하된 경우<br>
                    ③ 신청인이 조정위원회 또는 조정부의 회의가 소집되기 전에 조정신청을 취하한 경우<br>
                    (이 경우 환급 금액은 납부한 수수료의 2분의 1에 해당하는 금액으로 함)<br>
                </p>
            </li>
            <li>
                <h4><span>Q4</span> 절차</h4>
                <p>
                    <조정절차><br>
                    <img class="jojung" src="{% static 'css/information/images/조정절차.png' %}" alt="절차"><br>
                    조정의 신청<br>

                    조정위원회의 심의·조정사항에 관한 주택임대차분쟁의 당사자는 해당 주택이 소재하는 공단 조정위원회에 분쟁의 조정을 신청할 수 있습니다.<br>
                    (주택임대차보호법」 제21조 제1항)<br>
                    그러나 조정위원회의 위원장은 다음 각 호의 어느 하나에 해당하는 경우에는 신청을 각하하고, 그 사유를 신청인에게 통지합니다.(같은 법 제21조 제3항).<br>
                    ① 이미 해당 분쟁조정사항에 대하여 법원에 소가 제기되거나 조정 신청이 있은 후 소가 제기된 경우<br>
                    ② 이미 해당 분쟁조정사항에 대하여 「민사조정법」에 따른 조정이 신청된 경우나 조정신청이 있은 후 같은 법에 따른 조정이 신청된 경우<br>
                    ③ 이미 해당 분쟁조정사항에 대하여 주택임대차보호법에 따른 조정위원회에 조정이 신청된 경우나 조정신청이 있은 후 조정이 성립된 경우<br>
                    ④ 조정신청 자체로 주택임대차에 관한 분쟁이 아님이 명백한 경우<br>
                    ⑤ 피신청인이 조정절차에 응하지 아니한다는 의사를 통지한 경우<br>
                    ⑥ 신청인이 정당한 사유 없이 조사에 응하지 아니하거나 2회 이상 출석요구에 응하지 아니한 경우<br>
                    조정의 개시(「주택임대차보호법」제22조 제1항, 제2항)<br>
                    조정위원회의 위원장이 조정신청을 접수하면 피신청인에게 조정신청서를 송달하면 조정절차가 개시됩니다.<br>
                    조사 등(「주택임대차보호법」제24조, 제25조)<br>
                    조정위원회는 조정을 위하여 필요하다고 인정하는 경우 신청인, 피신청인, 분쟁관련 이해관계인 또는 참고인에게 출석하여 진술하게 하거나 조정에 필요한 자료나 물건 등을 제출하도록 요구할 수 있습니다.<br>
                    조정위원회는 해당 분쟁이 그 성질상 조정을 하기에 적당하지 아니하다고 인정하거나 당사자가 부당한 목적으로 조정을 신청한 것으로 인정할 때에는 조정을 하지 아니하는 결정을 할 수 있고, 그 결정을 당사자에게 통지하여야 합니다.<br>
                    조정의 성립(「주택임대차보호법」제26조, 제27조)<br>
                    조정위원회가 조정안을 작성한 경우에는 그 조정안을 지체 없이 각 당사자에게 통지하여야 합니다.<br>
                    조정안을 통지받은 당사자가 통지받은 날부터 14일 이내에 수락의 의사를 서면으로 표시하지 아니한 경우에는 조정을 거부한 것으로 봅니다.<br>
                    반면, 각 당사자가 조정안을 수락한 경우에는 조정안과 동일한 내용의 합의가 성립된 것으로 봅니다.<br>
                    합의가 성립한 경우 조정위원회위원장은 조정안의 내용을 조정서로 작성하고, 각 당사자 간에 금전, 그 밖의 대체물의 지급 또는 부동산의 인도에 관하여 강제집행을 승낙하는 취지의 합의가 있는 경우에는 조정위원회위원장은 그 내용을 조정서에 기재합니다.<br>
                    조정위원회는 조정절차가 종료되면 그 결과를 당사자에게 통지하고, 작성된 조정서 정본을 당사자에게 교부 또는 송달합니다.<br>
                    처리기간(「주택임대차보호법」제23조)<br>
                    조정위원회는 분쟁의 조정신청을 받은 날부터 60일 이내에 그 분쟁조정을 마쳐야 합니다.<br>
                    다만, 부득이한 사정이 있는 경우에는 조정위원회의 의결을 거쳐 30일의 범위에서 그 기간을 연장할 수 있고, 연장할 경우 기간 연장의 사유와 그 밖에 기간 연장에 관한 사항을 당사자에게 통보합니다.<br>

                    <h5>조정의효력</h5><br>
                    조정의 효력(「주택임대차보호법」제27조)<br>
                    강제집행을 승낙하는 취지의 내용이 기재된 조정서의 정본은 「민사집행법」제56조에도 불구하고 집행력 있는 집행권원과 같은 효력을 인정하고 있어, 
                    그 실효성을 담보하고 있습니다.<br>

                    <h5>조정위원회 사무국업무</h5><br>
                    (사무국장)<br>
                    사무국의 업무 총괄 및 소속 직원 지휘·감독<br>
                    (심사관)<br>
                    1. 분쟁조정신청 사건에 대한 쟁점정리 및 법률적 검토<br>
                    2. 조사관이 담당하는 업무에 대한 지휘·감독<br>
                    3. 그 밖에 위원장이 조정위원회의 사무 처리를 위하여 필요하다고 인정하는 업무<br>
                    (조사관)<br>
                    1. 조정신청의 접수<br>
                    2. 분쟁조정 신청에 관한 민원의 안내<br>
                    3. 조정당사자에 대한 송달 및 통지<br>
                    4. 분쟁의 조정에 필요한 사실조사<br>
                    5. 그 밖에 위원장이 조정위원회의 사무 처리를 위하여 필요하다고 인정하는 업무<br>
                </p>
            </li>
        </ol>
    </div>
    <script>
        // 토글버전
        $(function () {
            $(".information_box ol li").click(function () {
                // 클릭한 대상에게 클래스 "on"을 추가 또는 제거하여 확장 및 축소
                $(this).toggleClass("on");

            });
        });


    </script>

</body>

</html>