<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인테리어</title>
    <link rel="stylesheet" href="{% static 'css/interior/style.css' %}">
</head>

<body>
{% include 'poll/sidebar.html' %}
{% include 'poll/header.html' %}
    <div class="list_wrap">
        <p>INTERIOR</p>
        <ul>
            <li class="item item1">
                <div class="image">집</div>
                <div class="cont">
                    <strong>집 인테리어</strong>
                    <p>이쁜 집</p>
                    <a href="https://cafe.naver.com/gagupresident/161198?art=ZXh0ZXJuYWwtc2VydmljZS1uYXZlci1zZWFyY2gtY2FmZS1wcg.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjYWZlVHlwZSI6IkNBRkVfVVJMIiwiY2FmZVVybCI6ImdhZ3VwcmVzaWRlbnQiLCJhcnRpY2xlSWQiOjE2MTE5OCwiaXNzdWVkQXQiOjE2ODc1MjY0MTI3NzJ9.Y992u2o0QRbC-lVxQUxwCG5RrlqWr804jrwRi_34FhQ">바로가기</a>
                </div>
            </li>
            <li class="item item2">
                <div class="image">집</div>
                <div class="cont">
                    <strong>집 인테리어</strong>
                    <p>이쁜 해외 건축물</p>
                    <a href="https://blog.naver.com/95448887/220541737397">바로가기</a>
                </div>
            </li>
            <li class="item item3">
                <div class="image">집</div>
                <div class="cont">
                    <strong>집 인테리어</strong>
                    <p>담장 이쁜 집</p>
                    <a href="https://blog.naver.com/dpffltldk09/133814170">바로가기</a>
                </div>
            </li>
            <li class="item item4">
                <div class="image">거실</div>
                <div class="cont">
                    <strong>거실 인테리어</strong>
                    <p>집순이의홈님의 라이프 스타일</p>
                    <a href="https://ohou.se/cards/12082413">바로가기</a>
                </div>
            </li>
            <li class="item item5">
                <div class="image">내부</div>
                <div class="cont">
                    <strong>내부 인테리어</strong>
                    <p>수방잉잉님의 라이프 스타일</p>
                    <a href="https://ohou.se/cards/10155726">바로가기</a>
                </div>
            </li>
            <li class="item item6">
                <div class="image">거실</div>
                <div class="cont">
                    <strong>거실 인테리어</strong>
                    <p>주간 BEST 인테리어</p>
                    <a href="https://ohou.se/advices/2383">바로가기</a>
                </div>
            </li>
            <li class="item item7">
                <div class="image">내부</div>
                <div class="cont">
                    <strong>창문이 큰집 & 뷰가 이쁜집</strong>
                    <p>침실</p>
                    <a href="https://blog.naver.com/soyo_hi/220737255828">바로가기</a>
                </div>
            </li>
            <li class="item item8">
                <div class="image">내부</div>
                <div class="cont">
                    <strong>북유럽풍 컬러 &  패턴</strong>
                    <p>꼬꼬지의 홈레시피</p>
                    <a href="https://blog.naver.com/ywyw9753/80186579477">바로가기</a>
                </div>
            </li>
            <li class="item item9">
                <div class="image">주방</div>
                <div class="cont">
                    <strong>주방 인테리어</strong>
                    <p>참고하기 좋은 주방 인테리어</p>
                    <a href="https://blog.naver.com/doojin_ekwn/222811140279">바로가기</a>
                </div>
            </li>
        </ul>
    </div>
{% include 'poll/footer.html' %}
</body>

</html>