<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전세</title>
    <link rel="stylesheet" href="{% static 'css/information/style.css' %}">
</head>
<body>
    <ul class="smart_ifram_test">
        <li><a href="https://blog.naver.com/land_admin/221172959766" target="_blank">1. 가용 자금 확인 및 대출 계획</a></li>
        <li><a href="https://blog.naver.com/land_admin/221173023586" target="_blank">2. 집 종류 및 지역 선택</a></li>
        <li><a href="https://blog.naver.com/land_admin/221173476132" target="_blank">3. 정보수집 & 시세파악</a></li>
        <li><a href="https://blog.naver.com/land_admin/221173506493" target="_blank">4. 부동산 방문 & 집 구경</a></li>
        <li><a href="https://blog.naver.com/land_admin/221173507116" target="_blank">5. 계약 및 잔금 치르기</a></li>
        <li><a href="https://blog.naver.com/land_admin/221173508912" target="_blank">6. 이사하기</a></li>
        <li><a href="https://blog.naver.com/land_admin/221176293377" target="_blank">7. 거주하면서</a></li>
    </ul>
</body>
</html>