<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청약</title>
    <link rel="stylesheet" href="{% static 'css/information/style.css' %}">
</head>
<body>
    <ul class="smart_ifram_test">
        <li><a href="https://blog.naver.com/land_admin/221173081470" target="_blank">1. 희망주택 유형선택</a></li>
        <li><a href="https://blog.naver.com/land_admin/221173099245" target="_blank">2. 청약통장 마련</a></li>
        <li><a href="https://blog.naver.com/land_admin/221176299628" target="_blank">3. 청약자격 확인</a></li>
        <li><a href="https://blog.naver.com/land_admin/221176323589" target="_blank">4. 청약통장 변경 및 활용</a></li>
        <li><a href="https://blog.naver.com/land_admin/221177064887" target="_blank">5. 분양정보 확인</a></li>
        <li><a href="https://blog.naver.com/land_admin/221177095956" target="_blank">6. 청약 신청</a></li>
        <li><a href="https://blog.naver.com/land_admin/221177762455" target="_blank">7. 당첨자 선정 기준 및 확인</a></li>
    </ul>
</body>
</html>