<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매매</title>
    <link rel="stylesheet" href="{% static 'css/information/style.css' %}">
</head>
<body>
    <ul class="smart_ifram_test">
        <li><a href="https://blog.naver.com/land_admin/221172176139" target="_blank">1. 가용 자금 확인 및 대출 계획</a></li>
        <li><a href="https://blog.naver.com/land_admin/221172968369" target="_blank">2. 집 종류 및 지역 선택</a></li>
        <li><a href="https://blog.naver.com/land_admin/221172975575" target="_blank">3. 정보수집 & 시세파악</a></li>
        <li><a href="https://blog.naver.com/land_admin/221173052981" target="_blank">4. 부동산 방문 & 집 구경</a></li>
        <li><a href="https://blog.naver.com/land_admin/221176290264" target="_blank">5. 계약 및 잔금 치르기</a></li>
        <li><a href="https://blog.naver.com/land_admin/221176300611" target="_blank" >6. 소유권 이전등기</a></li>
        <li><a href="https://blog.naver.com/land_admin/221176306347" target="_blank">7. 인테리어 공사</a></li>
    </ul>
</body>
</html>