/* footer 영역 */
footer {
    width: 1200px;
    border-top: 2px solid #555;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
footer #bottomMenu {
    list-style: none;
    padding: 20px;
}
#bottomMenu li {
    display: inline-block;
    margin: 0px;
    border-right: 1px solid #777;
    padding: 0 10px;
}
#bottomMenu li a {
    text-decoration: none;
    color: #444;
}
#bottomMenu li:last-child {
    border: none
}
#bottomSub {
    list-style-type: none;
    margin-bottom: 50px;
}

/* 반응형 시작 */
@media screen and (max-width: 1200px) {
    footer {
        width: 100%;
        font-size: 0.8rem;
    }
}