<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="{% static 'css/notice/css.css' %}">
</head>

<body>
{% include 'poll/sidebar.html' %}
{% include 'poll/header.html' %}

<div class="board_wrap">
    <div class="board_title">
        <strong>공지사항 보기</strong>
    </div>


    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">
                집집 부동산 매물신고 운영 정책 안내
            </div>
            <div class="info">
                <dl>
                    <dt>번호</dt>
                    <dd>2</dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd>집집매니저</dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd>2023.6.13</dd>
                </dl>
                <dl>
                    <dt>조회</dt>
                    <dd>1671</dd>
                </dl>
            </div>
            <div class="cont">
                안녕하세요? 집집부동산입니다. <br><br>

                집집 부동산은 2012년 10월 공정거래위원회에서 승인한 온라인부동산매물광고 자율규약 에 따라 매물신고 서비스를 운영하고 있습니다. <br>
                따라서, 집집 부동산에 노출되는 정보업체 매물에 대해서 직접 매물신고를 하실 수 있습니다. 집집 부동산 매물신고 운영정책을 아래와 같이 안내해드립니다. <br><br>

                언제나 최고의 서비스를 제공하는 집집 부동산이 되겠습니다. <br><br>

                감사합니다. 집집 부동산 드림. <br><br>


                - 아 래 - <br><br>


                집집 부동산 매물 신고 운영 정책 <br><br><br>


                집집㈜(“회사”)는 2012년 10월 공정거래위원회에서 승인한 온라인 부동산매물광고 자율규약 에 따라 매물신고 서비스를 운영하고 있습니다. <br><br>

                1. 허위매물(거짓매물)의 정의 <br><br>

                (1) 거짓, 과장된 가격의 매물 <br><br>

                (2) 노출기간 중 거래가 완료되었음에도 게재되어 있는 매물 <br><br>

                (3) 가격 이외의 매물 정보를 거짓으로 기입한 매물(매도자 정보 거짓 기입, 매도자의 의사가 확인되지 않은 매물, 유효하지 않은 사업자번호로 노출하고 있는 매물 등 포함)
                <br><br>

                2. 게재 금지 매물 <br><br>

                (1) 허위매물(거짓매물) <br><br>

                (2) 경매물건 : 경매매물은 입찰 가능 가격을 매매가로 표기함으로써 고객에게 오인 또는 혼동을 줄 수 있기에 등록을 제한합니다. <br><br>

                3. 매물신고 (소비자) <br><br>

                (1) 소비자는 집집 부동산에 노출되어 있는 매물의 상세페이지 상단의 [허위매물신고] 또는 [매물신고] 메뉴를 통해 매물신고를 할 수 있습니다. <br>
                단, 거짓신고를 방지하기 위하여 소비자의 신고 시 본인인증(월 1회)을 거쳐야 하며, 신고자는 동일 중개업소의 매물에 대해서 1일 2건까지만 신고하실 수 있습니다. <br><br>

                (2) 신고한 사유와 내용은 신고받은 중개업소에게 전달됩니다. <br><br>

                (3) 소비자의 신고가 거짓인 것으로 판명된 경우, 소비자는 14일의 기간 동안 신고가 제한됩니다. <br><br>

                (4) [허위매물신고] 또는 [매물신고]를 통해 접수된 신고의 확인 결과는 (사)한국인터넷자율정책기구 내 부동산매물클린관리센터에 전달되어 관리됩니다. <br><br>

                4. 신고매물관리(중개업소) <br><br>

                (1) 신고된 매물은 일시 노출 중단 될 수 있으며, 신고매물을 전송한 부동산정보제공업체의 중개업소 회원에게 전달됩니다. <br><br>

                (2) 신고매물에 대한 중개업소회원의 처리는 당해 매물을 등록한 부동산정보제공업체의 매물관리페이지에서 진행하여야 합니다. <br><br>

                (3) 부동산클린매물관리센터는 신고매물의 허위 여부를 판정하기 위해 부동산정보업체의 중개업소 회원을 방문할 수 있습니다. <br><br>

                (4) 신고매물에 대해 부동산정보업체의 중개업소 회원에게 부과된 패널티에 따라 매물 노출이 제한될 수 있습니다. <br><br><br>


                매물신고에 관련된 기타 문의사항은 1600-7186(KISO 부동산클린매물관리센터)로 주시기 바랍니다.
            </div>
        </div>
        <div class="bt_wrap">
            <a href="{% url 'notice:notice' %}" class="on">목록</a>
        </div>
    </div>
</div>
{% include 'poll/footer.html' %}
</body>

</html>