<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="{% static 'css/notice/css.css' %}">
</head>

<body>
{% include 'poll/sidebar.html' %}
{% include 'poll/header.html' %}

<div class="board_wrap">
    <div class="board_title">
        <strong>공지사항 보기</strong>
    </div>

    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">
                허위매물신고 처리절차 변경에 따른 안내
            </div>
            <div class="info">
                <dl>
                    <dt>번호</dt>
                    <dd>5</dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd>집집매니저</dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd>2023.6.25</dd>
                </dl>
                <dl>
                    <dt>조회</dt>
                    <dd>8282</dd>
                </dl>
            </div>
            <div class="cont">
                안녕하세요? 집집 부동산입니다. <br><br>

                집집 부동산은 신뢰도 높은 매물정보를 제공하기 위해, 허위매물 신고 처리 절차를 아래와 같이 변경하고자 합니다. <br><br><br>


                - 아래 - <br><br>

                현재 사용자가 네이버 부동산 매물페이지에서 허위매물신고를 하면 그 신고사유와 상관없이, <br>
                중개업소에서는 각 매물제휴업체의 허위매물 관리페이지에서 신고매물에 대해 (1)정상매물, (2)거래완료, (3)노출종료를 선택할 수 있습니다. <br><br>

                또한 신고된 매물에 대해 중개업소에서 (2)거래완료 처리를 하면 신고된 사유와 상관없이 거래완료 매물로 서비스에 노출이 되는데요. <br><br>


                매물의 존재 자체가 허위였거나, 층수, 가격 등의 심각한 오류가 있는데도 불구하고 거래완료로 표시하여 매물을 서비스에 노출하는 경우 <br><br>
                사용자가 매물정보에 대해 사용자가 오인할 수 있는바 앞으로는 신고 사유가 허위 가격, 경매, 기타인 경우에는 서비스에 노출되지 않도록 하고자 합니다. <br><br>
                즉, 신고 사유가 거래완료 외의 사유인 경우에는 중개업소에서는 (1)정상매물 또는 (2)노출종료로만 선택이 가능할 예정입니다. <br><br>


                적용일 : 2023년 7월 3일 <br><br>


                항상 집집부동산을 이용해주시는 고객 여러분들께 깊은 감사를 드립니다. <br>
            </div>
        </div>
        <div class="bt_wrap">
            <a href="{% url 'notice:notice' %}" class="on">목록</a>
        </div>
    </div>
</div>
{% include 'poll/footer.html' %}
</body>

</html>